<div class="body">
  <nav>
    <ul class="pagination">
      <li class="page-item"
      [ngClass]="{disabled : currentPage === 0}"
      ><a (click)="currentPage = currentPage - 1" class="page-link" disabled="true">Önceki</a>
      </li>
  
      <ng-container *ngFor="let image of images; let i = index">
      <li class="page-item"
      [ngClass]="{active:i === currentPage}"
        *ngIf="PageIndex(i)"
      >
      <a (click)="currentPage = i" class="page-link">{{i + 1}}</a>
      </li>
      </ng-container>
  
      <li class="page-item"
      [ngClass]="{disabled : currentPage === (images.length) - 1}"
      ><a (click)="currentPage = currentPage + 1" class="page-link">Sonraki</a>
      </li>
    </ul>
  </nav>
  <div class="imgUrl">
    <h1>{{images[currentPage].title}}</h1>
    <img [src]="images[currentPage].url">
  </div>
</div>